<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <a [routerLink]="['/create']" class="btn btn-primary btn-sm">Create</a>
        <a [routerLink]="['/view']" class="btn btn-primary btn-sm">View</a>
        <a [routerLink]="['/edit', 4]" class="btn btn-primary btn-sm">Edit #4</a>
      </div>

      <div *ngIf="!indexedRecipes">You havn't created any recipes yet.</div>

      <div *ngFor="let item of indexedRecipes | keyvalue">
        {{ item.key }}:
        <ul>
          <li *ngFor="let recipe of item.value; index as i">
            {{ recipe.name }}
            <div><a [routerLink]="['/edit', recipe.id]">Edit</a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>