<div class="container">
  <div class="row">
    <div class="col">
      <div class="the-nav">
        <a [routerLink]="['/create']" class="btn btn-primary btn-sm">Create</a>
        <a [routerLink]="['/view']" class="btn btn-primary btn-sm">View</a>
        <a [routerLink]="['/edit', 4]" class="btn btn-primary btn-sm">Edit #4</a>
      </div>

      <div *ngIf="!indexedRecipes">You havn't created any recipes yet.</div>

      <div *ngFor="let item of indexedRecipes | keyvalue" class="recipes-list">
        <span class="list-key">{{ item.key }}</span>
        <ul>
          <li *ngFor="let recipe of item.value; index as i">
            {{ recipe.name }}
            <a [routerLink]="['/edit', recipe.id]" class="badge badge-primary edit-recipe">Edit</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>